bgzip==0.5.0
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
fonttools==4.58.5
intervaltree==3.1.0+computecanada
kiwisolver==1.4.8+computecanada
matplotlib==3.10.0+computecanada
matplotlib_venn==0.11.10+computecanada
numpy==2.2.2+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
pillow==11.1.0+computecanada
pyparsing==3.2.3+computecanada
pysam==0.22.1+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
scipy==1.15.1+computecanada
six==1.17.0+computecanada
sortedcontainers==2.4.0+computecanada
tzdata==2025.2+computecanada
